@using System.Security.Claims
@using IdentityModel

@{
    ViewData["Title"] = "Contact";
    var identityClaims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a secured page and can only be seen once authenticated.</p>

<dt>Tokens:</dt>
<dt>access token</dt>
<dd>@(identityClaims.FirstOrDefault(x => x.Type == OidcConstants.TokenTypes.AccessToken)?.Value ?? "[not found]")</dd>

<dt>refresh token</dt>
<dd>@(identityClaims.FirstOrDefault(x => x.Type == OidcConstants.TokenTypes.RefreshToken)?.Value ?? "[not found]")</dd>
<br />

<dt>User Claims (excluding the Tokens above): </dt>
<dl>
    @if (identityClaims.Count == 0)
    {
        <text>[none]</text>
    }
    else
    {
        foreach (var claim in identityClaims.Where(x => x.Type != OidcConstants.TokenTypes.AccessToken && x.Type != OidcConstants.TokenTypes.RefreshToken))
        {
            <dt>
                @claim.Type
            </dt>
            <dd>
                @(string.IsNullOrWhiteSpace(claim.Value) ? "[not found]" : claim.Value)
            </dd>
        }
    }
</dl>